/* 
_____________
Reset
______________ 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
_____________
Common
_____________ 
*/
body, .titolo-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.login, .button-mac-dow, .button-open-d{
    border-radius: 25px;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* 
_____________
Debug
______________ 
*/

.debug .blocco-verde{
    background-color: #228b22;
}

.debug .footer-top, .footer-bottom{
    background-color: #23272a;
}

.debug .columns{
    background-color: #20b2aa;
}

.debug div.c1{
    background-color: #f08080;
}

.debug .section-footer-bottom{
    background-color: #7fffd4;
}

.debug .logo-footer, .button{
    background-color: #ffb6c1;
}
/* 
_____________
Fine Debug
______________ 
*/

/* 
_____________
Header-Top
______________ 
*/

.header-top, li>a{
    color: white;
    background-color: #255ee9;
}

.header-top, .header-bar{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-bar{
    height: 44px;
    width: 1200px;
    justify-content: space-between;
    padding-top: 20px;
}

.logo, .link, .login, nav{
    display: flex;
    align-items:  center;
    padding: 12px 0px;
}

.links{
    justify-content: center;
}

.link{
    list-style: none;
    justify-items: space-around;
}

a[href='#']{
    text-decoration: none;
}

li{
    padding-left: 40px; 
}

.logo{
    justify-content: flex-start;
    padding-left: 12px;
}

.login{
    justify-content: center;
    height: 35px;
    width: 72px;
    background-color: #ffffff;
}
/* 
_____________
Fine Header-Top
______________ 
*/

/* 
_____________
Header-Bottom
______________ 
*/

.header-bottom{
    padding: 50px;
    background: url(../img/jumbo.png);
    background-size: cover;

}

.header-discord{
    width: 909px;
    height: 400px;
    margin: 0 auto;

}

.titolo-header{
    text-align: center;
    font-size: 40px;
    padding-top: 140px;
    padding-bottom: 39px;
}

.paragrafo-header{
    text-align: center;
    max-width: 623px;
    line-height: 2;
    margin: 0 auto;
    padding-bottom: 10px;
}

.buttons{
   display: flex;
   justify-content: center;
   
}

.button-mac-dow, .button-open-d{
    height: 45px;
    margin-left: 20px;
    padding: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.button-mac-dow:before{
    content: ' \2193';
    vertical-align: bottom; 
}

.button-open-d{
  background-color: #23272a;
  color: white;
}


/* 
_____________
Fine Header-Bottom
______________ 
*/

/* 
_____________
Main
______________ 
*/

.titolo-sezione{
    text-align: start;
    font-size: 36px;
    padding-bottom: 39px;
    color: black;
    width: 337px;
}

.paragrafo-sezione{
    line-height: 1,8;
    color: black;
    width: 337px;
}

.due{
    width: 317px;
}

.tre{
    width: 308px;
}

.odd-section, .even-section{
    display: flex;
    justify-content: center;
}

.even-section{
    background-color: #f6f6f6;
}

.block{
    display: flex;
    height: 500px;
    width: 1200px;
    margin: 51px 0;
}

.div-big{
    width: 60%;

}

.div-small{
    width: 40%;

}

.even{
    flex-direction: row-reverse;
}

.bottom-section{
    display: flex;
    height: 1000px;
    justify-content: center ;
}

.blocco-verde{
    height: 900px;
    width: 1200px;
    margin: 51px 0;
    border: 1px dashed black;
}

/* 
_____________
Fine Main
______________ 
*/

/* 
_____________
Footer-top
______________ 
*/
.footer-top{
    height: 630px;
    display: flex;
    justify-content: center;
}

.columns{
    display: flex;
    width: 1200px;
    height: 576px;
    margin: 10px 0 40px 0;

}

.column{
    border: 1px dashed rgb(255, 255, 255);
    flex-grow: 1;
}

div.c1{
    flex-grow: 2;
    border: 1px dashed black;
}
/* 
_____________
Fine Footer-top
______________ 
*/

/* 
_____________
Footer-bottom
______________ 
*/
.footer-bottom{
    height: 110px;
    display: flex;
    justify-content: center;
    margin: 1px 0 2px 0;
    padding-top: 30px;
}

.section-footer-bottom{
    height: 80px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer, .button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 66px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
_____________
Fine Footer-bottom
______________ 
*/